body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #F4C597;
}

.header img {
  max-width: 40%;
  height: auto;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #F4C597;
  padding: 10px 0;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 10px;
  font-weight: bold;
  background-color: #d8d8d8;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #D3864E;
  border-radius: 5px;
}

.footer {
  background-color: #d8d8d8;
  text-align: left;
  display: flex;
  align-items: center;
}

.footer img {
  max-width: 10%;
  height: auto;
  margin: 0 20px 0 20px;
  filter: drop-shadow(0 0 0.75rem black);
}

.box {
  height: 1000px;
}

.container {
  display: flex;
  align-items: center;
  background-color: #FEF59A;
  padding: 20px 250px; /* Increased left and right padding to 40px */
}

.image-container {
  flex: 0 0 auto; /* Prevent images from taking full width */
  margin-right: 20px; /* Margin to separate images from text */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Gap between images */
}

.image-container img {
  width: 200px; /* Set a fixed width for the images */
  height: auto;
  display: block;
}

.text-container {
  flex: 2;
  color: black;
}

.text-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.certificates {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.certificates img {
  height: 50px;
}